.flx {
	display: flex;
}
  
.r_wrp {
	flex-flow: row wrap;
}
  
.r_nwrp {
	flex-flow: row nowrap;
}

.v_nwrp {
	flex-flow: column wrap;
}

.lft {
	justify-content: flex-start;
}

.sid {
	justify-content: space-between;
}
  
.ctr {
	justify-content: center;
}
  
.itm-ctr {
	align-items: center;
}
  
.cnt-ctr {
	align-content: center;
}